@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
  --main-bg-color-primary-light: #e4b3b3a0;
  --main-bg-color-primary-main: #d9a8a8;
  --main-bg-color-primary-dark: #c47f7f;
}
